[defaults]
# The SSH username for the Ubuntu EC2 instance
remote_user = ubuntu

# This is the path for the hosts file inside the inventory directory
inventory = inventory/hosts.yml

# Path to the ansible ssh key file for the EC2 instance
private_key_file = ~/.ssh/ansible-key.pem

# The default is True. Setting it to False so ssh does not prompt to confirm fingerprints
host_key_checking = False

# To display ansible out more readable
stdout_callback = default
result_format = yaml


# This decides how many servers should be configured at the same time 
forks = 5

# Define the roles path here
roles_path = roles


[ssh_connection]
# This is to speed up SSH connection, run multiple commands at once
pipelining = True
